version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: mercatoapi-database
    ports:
      - "${DB_PORT}:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - pdv-network

volumes:
  postgres-data:

networks:
  pdv-network:
    driver: bridge